.search-bar{
    -fx-border-width: 1;
    -fx-border-color: #606060;
}

.selected{
    -fx-background-color: #bdbdbd;
    -fx-border-width: 0 0 0 6;
    -fx-border-color: #f30000;
}

.transparent{
    -fx-background-color: rgba(0, 0, 0, 0);
}

.black-color{
    -fx-background-color: #000;
}

.button {
    -fx-background-color: #5a0099;
    -fx-background-radius: 30 0 0 30;
}

.button:hover{
    -fx-background-color: #7500c7;
    -fx-background-radius: 30 0 0 30;
}

.button:pressed {
    -fx-background-color: #310054;
    -fx-background-radius: 30 0 0 30;
}

.fullButton {
    -fx-background-color: #5a0099;
    -fx-background-radius: 30;
}

.fullButton:hover{
    -fx-background-color: #7500c7;
    -fx-background-radius: 30;
}

.fullButton:pressed {
    -fx-background-color: #310054;
    -fx-background-radius: 30;
}